<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sheltr:atx</title>
        <link href="../static/css/style.css" rel="stylesheet" />
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

        <meta name="description" content="A quick and accurate guide for persons in need to closest available and open resources around Austin, TX.">
        <meta name="keywords" content="austin, texas, tx, atx, sheltr, help, homeless, resource" />
        <meta name="author" content="Rishi Bajekal, Efe Karakus, Joe Merante, Nikhil Tibrewal, Susan Wang">
        <script src="../static/js/submit.js" type="text/javascript"></script>
        <script src="../static/js/map.js" type="text/javascript"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
    </head>
    <body onload="initialize()">
    
    <header>
            <div class="top-row">
                <div class="menu">
                    <ul>
                        <li><a href="/test">Blog</a></li>
                        <li><a href="/test">Partners</a></li>
                        <li><a href="/test">About</a></li>
                        <li><a href="/test">Hotline</a></li>
                        <li><a href="/index.html">Home</a>
                    </ul>
                </div>
            </div>
            <h1><a href="/index.html">Sheltr:atx</a></h1>
        </header>
        
        <div class="container">
            <form id="InfoForm">
                <input id="addressbar" class="addr text" type="text" name="address" placeholder="Type your current address here..." autofocus />
                <div id="autocomplete-results" class="autocomplete"></div>
                <div class="buttons">
                    <button class="submit" id="searchBTN">Submit</button>
                    <ul class="form-controls">
                        <p>
                            <h2>Issue: </h2>
                            <li>
                                <input type="checkbox" name="bed" checked="true" id="checkbox-bed"/>
                                <label id="checkbox-label-bed" for="checkbox-bed">Bed</label>
                            </li>
                            <li>
                                <input type="checkbox" name="food" checked="true" id="checkbox-food"/>
                                <label id="checkbox-label-food" for="checkbox-food">Food</label>
                            </li>
                            <li>
                                <input type="checkbox" name="medical" checked="true" id="checkbox-medical"/>
                                <label id="checkbox-label-medical" for="checkbox-medical">Medical</label>
                            </li>
                            <li>
                                <input type="checkbox" name="mental-health" checked="true" id="checkbox-mental"/>
                                <label id="checkbox-label-mental" for="checkbox-mental">Mental Health</label>
                            </li>
                            <li>
                                <input type="checkbox" name="substance-abuse" checked="true" id="checkbox-substance"/>
                                <label id="checkbox-label-substance" for="checkbox-substance">Substance Abuse</label>
                            </li>

                            <h2>Transportation: </h2>
                            <li>
                                <input type="radio" name="trans" id="walk" value="walk" checked="true" />
                                <label id="radio-label-walk" for = "walk">Walk</label>
                            </li>
                            <li>
                                <input type="radio" name="trans" id="bus" value="bus" />
                                <label id="radio-label-bus" for = "bus">Bus</label>
                            </li>
                            <li>
                                <input type="radio" name="trans" id="car" value="car" />
                                <label id="radio-label-car" for = "car">Car</label>
                            </li>
                        </p>
                    </ul>
                </div>
            </form>
            <div class="map-container"><a name="map"></a>
                <div id="map">MAP GOES HERE</div>
            </div>
            <div id="accordion"></div>
        </div>
    </body>

</html>
